<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <link rel='stylesheet' type='text/css' href='style.css'></head>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  <title>Lezecky denicek</title>
<body>
  <div class="grid">
    <div class="box a banner">
        <h1>lezecký deníček</h1>
       
    </div>

    <div class="box b">
        <div class="navbar">
                <a href="#" class="button">home</a>
                <a href="#" class="button">news</a>
                <a href="#" class="button">contact</a>
                <a href="#" class="button">search</a>
                <a href="#" class="button">about</a>

        </div>
    </div>        

                      
                
        
    
    <div class="box c">C</div>
    
    
        
    <div class="box d">D</div>
  </div>

  <footer>
    <p>️&copy; Manhattan Project 2019</p>
  </footer>
</body>

</html>